TASK 1

In [7]:
#QUESTION a:

age = 26
name = "Hafsa"
occ = "I am a student"

print(age)
print(name)
print(occ == "I am a student")

26
Hafsa
True

TASK 2

In [8]:
#QUESTION b:

age += 25
mynew_name = name + "Smith"
mynew_occ = not occ

print(age)
print(mynew_name)
print(mynew_occ)

51
HafsaSmith
False

TASK 2

In [9]:
#Question a:

rec_width = 5.5
rec_height = 3.25

area = rec_width * rec_height
print(area)

17.875

In [10]:
#Question b:

Celsius = 35
Fahrenheit = Celsius*9/5 +32

print(Fahrenheit)

95.0

In [11]:
#Question c:

import math

radius = 5
area = math.pi * radius**2
print(area)

78.53981633974483

TASK 3:

In [12]:
#Question a:

fruits = ["apple" , "banana" , "orange" , "grapes" ,"kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grapes', 'kiwi']

In [14]:
#Question b:

months = ("january" , "february" , "march")
print(months)

('january', 'february', 'march')

TASK 4

In [15]:
#Question a:

numbers = [12,34,45,67,89,100,23,56]

sum_of_numbers = sum (numbers)
print(sum_of_numbers)



import statistics
average = statistics.mean(numbers)
print(average)

426
53.25

In [16]:
#Question b:

fruits
fruits.pop(0)
fruits.pop(-1)
print (fruits)

['banana', 'orange', 'grapes']

TASK 5

In [18]:
#Questions a:

capitals = {"USA":"Washington D.C." , "France":"Paris" , "Japan":"Tokyo"}
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}

In [19]:
#Question b:

capitals["Germany"] = "Berlin"
print(capitals)

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

In [20]:
#Question c:

capitals
if "France" in capitals:
    print("France is in the dictionary")
    
else:
    print("France is not in the dictionary")

France is in the dictionary

TASK 6:

In [21]:
#Question a:

number = int(input("Please select a number: "))

if number %2 ==0:
    print("the number is even")
    
else: 
    print("the number is odd")

Please select a number: 29
the number is odd

In [22]:
#Question b:

Age = 25
GPA = 3.88

if Age >= 18 and  4 >= GPA >= 3.0:
    print("Eligible for admission")
    
else: 
    print("Not eligible for admission")

Eligible for admission

TASK 7

In [23]:
#Question a:

fruits_set = {"apple" , "banana" , "orange" , "grapes" , "kiwi"}

print(fruits_set)

{'orange', 'banana', 'apple', 'grapes', 'kiwi'}

In [24]:
#Question b:

set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

union = set1.union(set2)
print(union)

intersection = set1 & set2
print(intersection)

difference = set1 - set2
print(difference)

subset_1of2 = (set1. issubset(set2))
print(subset_1of2)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
False

TASK 8

In [25]:
#Question a:

string = "Python programming is fun and powerful"

a = len(string)
print(a)

b = string.upper()
print(b)

c = string.replace("fun" , "exciting")
print(c)

d = string.find("Python")
print(d)

e = string.split()
print(e)

38
PYTHON PROGRAMMING IS FUN AND POWERFUL
Python programming is exciting and powerful
0
['Python', 'programming', 'is', 'fun', 'and', 'powerful']